<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{title}}</title>

        <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="./stylesheets/style.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
	        <div class="jumbotron">
	        <h1>Generatore automatico d'auguri di Massimo</h1>
	        <p>L'uomo che non fa altro che stupirti ad ogni compleanno.</p>
	        </div>

	        <div class="page-header">
	            <h1>How to<small> Come funziona</small></h1>
	        </div>
	        <div class="row">
	            <div class="col-md-12">
	                <h3>Il gioco é estremamente semplice, ma efficace. Premete il bottone e sotto di esso vi comparirà il messaggio d'auguri creato apposta per voi da Massimo. Stupite i vostri amici!</h3>
	                <hr />
	            </div>
	        </div>

	        <div class="row">
	            <div class="col-md-12">
	                <center>
	                    <button type="button" id="genera" class="btn btn-lg btn-success">Genera!</button>
	                </center>
	            </div>
	        </div>
	       	<div class="row">
	            <div class="col-md-12">
		            <center>
		            	<i><h3 id="greetingsMessageIntro"></h2></i>
		            	<h2 id="greetingsMessage"></h2>
		            </center>
	            </div>
	        </div>
	        <footer>
	        	<hr />
	        	<center>
        			<p>Handcrafted with <span class="glyphicon glyphicon-heart"></span> by Marco.</p>
        		</center>
      		</footer>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="./javascripts/script.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>